<div class="container">
  <h2>Admit New Patient</h2>
  <form [formGroup]="admissionForm" (ngSubmit)="submitAdmissionForm()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" formControlName="lastName" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input type="date" formControlName="dob" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="gender">Gender:</label>
      <select formControlName="gender" class="form-control" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="contactNumber">Contact Number:</label>
      <input type="tel" formControlName="contactNumber" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <textarea formControlName="address" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="medicalHistory">Medical History:</label>
      <textarea formControlName="medicalHistory" class="form-control"></textarea>
    </div>
    <!-- <div class="form-group">
      <label for="department">Department:</label>
      <select formControlName="department" class="form-control" (change)="onDepartmentChange()" required>
        <option disabled selected>Select the department</option>
        <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="bedNumber">Bed Number:</label>
      <select formControlName="bedNumber" class="form-control" required>
        <option disabled selected>Select the bed number</option>
        <option *ngFor="let bed of beds" [value]="bed.bedNumbers">{{ bed.bedNumbers }}</option>
      </select>
    </div> -->
    <div class="form-group">
      <label for="department">Department:</label>
      <select formControlName="department" class="form-control" (change)="onDepartmentChange()" required>
        <option disabled selected>Select the department</option>
        <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="bedNumber">Bed Number:</label>
      <select formControlName="bedNumber" class="form-control" required>
        <option disabled selected>Select the bed number</option>
        <option *ngFor="let bed of beds" [value]="bed.bedNumbers">{{ bed.bedNumbers }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Admit Patient</button>
  </form>
</div>
