<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <span class="fw-bold ">List of Doctors</span>
                        <table class=" col-lg-12">

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped m-b-0">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>Username</th>
                                                <th>Feedback</th>
                                                <th width=""></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="with-img">
                                                    <span>1</span>
                                                <td>Nicky Almera</td>
                                                <td>Good</td>
                                                <td class="with-btn" nowrap>
                                                    <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                                    <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="with-img">
                                                    <span>2</span>
                                                </td>
                                                <td>Harvinder Singh</td>
                                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quae
                                                    quis velit aspernatur ipsum! Culpa quod repellendus veniam et
                                                    consequuntur id quos, quae, nulla sint exercitationem nihil
                                                    voluptatibus ut aperiam.</td>
                                                <td class="with-btn" nowrap>
                                                    <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                                    <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="with-img">
                                                    <span>2</span>
                                                </td>
                                                <td>Harvinder Singh</td>
                                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id mollitia
                                                    commodi accusamus nisi minima. Minus, unde! Hic error similique
                                                    cupiditate consectetur, vel minima, porro enim adipisci laudantium
                                                    itaque repudiandae animi.</td>
                                                <td class="with-btn" nowrap>
                                                    <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                                    <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="with-img">
                                                    <span>2</span>
                                                </td>
                                                <td>Harvinder Singh</td>
                                                <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam,
                                                    ducimus nesciunt earum, repellendus eaque voluptatibus rerum
                                                    excepturi sapiente dignissimos distinctio magni suscipit vitae
                                                    sequi! Quos quam minima reprehenderit debitis molestias!</td>
                                                <td class="with-btn" nowrap>
                                                    <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                                    <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="with-img">
                                                    <span>2</span>
                                                </td>
                                                <td>Harvinder Singh</td>
                                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                                    earum excepturi quisquam repellat nisi officiis sit magnam minima
                                                    maiores corporis rerum provident, saepe itaque ab quaerat totam
                                                    laudantium ut minus velit fuga repellendus doloremque ad, iusto
                                                    perspiciatis. Repellendus, odit.</td>
                                                <td class="with-btn" nowrap>
                                                    <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                                    <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>