<div class="row">
    <div class="col-xl-12">
        <div class="panel panel-inverse card" data-sortable-id="form-stuff-1">
            <div class="panel-heading bg-secondary">
                <h4 class=" fw-bold fs-3 ">Add Schedule</h4>
                <div class="panel-heading-btn">
                </div>
            </div>
            <div class="panel-body card-body">
                <!-- <div class="alert alert-muted">
                    Add patient
                </div> -->
                <form>

                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">First Name <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control m-b-5" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Last Name <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control m-b-5" placeholder="First Name" />
                        </div>

                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Email Address<span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <input type="email" class="form-control m-b-5" placeholder="Email Address" />
                            <small class="f-s-12 text-grey-darker">We'll never share your email with anyone
                                else.</small>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Password <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control m-b-5" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Mobile No <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control m-b-5" placeholder="Mobile No" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Password <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control m-b-5" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Blood Group</label>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>A+</option>
                                <option>A-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>O+</option>
                                <option>O-</option>
                                <option>AB+</option>
                                <option>AB-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row m-b-10 align-items-center ">
                        <label class="col-md-3 col-form-label fw-bold">Sex <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radio_default_inline"
                                    id="defaultInlineRadio1" value="" checked />
                                <label class="form-check-label" for="defaultInlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radio_default_inline"
                                    id="defaultInlineRadio2" value="" />
                                <label class="form-check-label" for="defaultInlineRadio2">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radio_default_inline"
                                    id="defaultInlineRadio2" value="" />
                                <label class="form-check-label" for="defaultInlineRadio2">Other</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Date of Birth <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <input type="date" class="form-control m-b-5" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15 justify-content-center">
                       <button type="submit" class="btn btn-success mr-2 col-auto btn ">Submit</button>
                       <button type="reset" class="btn btn-primary  col-auto">Reset</button>
                    </div>
                </form>
            </div>

        </div>