<app-navbar></app-navbar>

<section class="hero-section text-center text-white">
    <div class="container welcome">
    </div>
</section>
<div class="container-fluid feature mx-auto">
    <h2 class="text-center py-5 display-4 ">Doctors</h2>
    <!-- <div class="row mx-auto">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let doctor of doctors">
            <div class="card h-100 text-center p-3 mx-auto">
                <div class="card-body">
                    <img src="{{doctor.image}}" alt="">
                    <h5 class="card-title display-6">{{ doctor.title }}</h5>
                    <p class="card-text">{{ doctor.description }}</p>
                </div>
            </div>
        </div>
    </div> -->
</div>

<!-- <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let doctor of doctors">
      <div class="card mb-4">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ doctor.picture }}" class="card-img" alt="{{ doctor.name }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ doctor.firstName }} {{doctor.lastName}}</h5>
              <p class="card-text">{{ doctor.department }}</p>
              <p class="card-text">{{ doctor.status }}</p>
              <p class="card-text">{{ doctor.biography }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="container-fluid background">
    <div class="row mx-auto ">
        <div class="col-md-3 col-sm-6" *ngFor="let item of doctors">
            <div class="card mb-4">
                <div class="row no-gutters">
                    <div class="display flex  mx-auto">
                        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fdoctor-photo&psig=AOvVaw1PO3UCmfBAF55U9oEhBMfG&ust=1724076939545000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPjfzZ_d_ocDFQAAAAAdAAAAABAE" class="card-img-top h-20 w-100" alt="{{ item.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ item.firstName }} {{item.lastName}}</h5>
                            <p class="card-text"><span class="fw-bold">Department: </span>{{ item.department }}</p>
                            <p class="card-text" [ngClass]="{'expanded':isExpanded}">{{ item.biography }}</p>
                            <a href="" (click)="toogleBiography()">{{isExpanded ? 'See Less': 'See More' }}</a>
                            <p class="card-text fw-bold">{{ item.active }}</p>
                            <a href="dashboard" class="mx-auto justify-content-center ">
                            <button type="submit"  class="bg-success" (submit)="submit()">Book Appointment</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>