<app-navbar></app-navbar>

<section class="hero-section text-center text-white">
    <div class="container welcome">
    </div>
</section>
<div class="container mx-auto">
    <h4 class="m-b-15 m-t-30 text-center fw-bold text-center py-5 display-4">OUR DOCTORS</h4>
    <div class="row row-space-10">
        <div *ngFor="let item of doctors" class="col-lg-3 col-md-4 p-3" style="background-color: rgb(231, 234, 236);">
            <!-- BEGIN item -->
            <div class="item card p-2 mb-2 text-center">
                <a href="product_detail.html" class="item-image d-block mx-auto">
                    <img src="../../../assets/doctor6.png" alt="" class="img-fluid"
                        style="height: 200px; width: 150px;">
                </a>
                <div class="item-info mt-2">
                    <h4 class="fw-bold item-title">{{item.firstName}} {{item.lastName}}</h4>
                    <p class="item-desc">{{item.biography}}</p>
                    <div class="item-price fw-bold">{{item.department}}</div>
                    <div class="discount">{{item.time}}</div>
                    <div class="mt-1">{{item.mobileNo}}</div>
                    <div class="mt-1">{{item.email}}</div>

                </div>
               
            </div>
            <!-- END item -->
        </div>
       
            <!-- END item -->
        </div>
    </div>

<app-footer></app-footer>