<div id="page-container" class="page-sidebar-fixed page-header-fixed">
    <div id="sidebar" class="sidebar" style="height: 100vh; overflow-y: auto;">
        <div data-scrollbar="true" data-height="100%">
            <ul class="nav">
                <li class="nav-profile">
                    <a href="javascript:;" data-toggle="nav-profile">
                        <div class="cover with-shadow"></div>
                        <div class="image">
                            <img src="../../../assets/hospitals.jpg" alt="" />
                        </div>
                        <div class="info">
                            <b class="caret pull-right"></b>Aspatal
                            <small>The Hospital Management</small>
                        </div>
                    </a>
                </li>
                <li>
                    <ul class="nav nav-profile">
                        <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
                        <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav ">
                <!-- <li class="nav-header">Admin</li>
                <li class=" py-2 ">
                    <a (click)="showSection('overview')">
                        <i class="fa fa-th-large"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('doctor')">
                        <i class="fas fa-user-md"></i>
                        <span>Doctor</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="toogleDropdown('patient')" class="d-flex fustify-content-between align-items-center">
                        <div>
                            <i class="fa fa-wheelchair"></i>
                            <span>Patient</span>
                        </div>
                        <i class="fa" [ngClass]="dowpdowns['patient'] ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    </a>
                    <ul *ngIf="dowpdowns['patient']" class="list-group mt-2 bg-secondary">
                        <li class="list-group-item bg-dark text-light">
                          <a  (click)="showSection('addPatient')">
                            <span>Add Patient</span>
                          </a>
                        </li>
                        <li class="list-group-item  text-light bg-dark">
                          <a  (click)="showSection('patientList')">
                            <span>Patient List</span>
                          </a>
                        </li>
                      </ul>
                </li>

                <li class="  py-2">
                    <a (click)="showSection('appoinment')">
                        <i class="fas fa-calendar-check"></i>
                        <span>Appoinment</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="toogleDropdown('schedule')" class="d-flex fustify-content-between align-items-center">
                        <div>
                            <i class="fas fa-calendar-alt"></i>
                            <span>Schedule</span>
                        </div>
                        <i class="fa" [ngClass]="dowpdowns['schedule'] ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    </a>
                    <ul *ngIf="dowpdowns['schedule']" class="list-group mt-2 bg-secondary">
                        <li class="list-group-item bg-dark text-light">
                          <a  (click)="showSection('addSchedule')">
                            <span>Add Schedule</span>
                          </a>
                        </li>
                        <li class="list-group-item  text-light bg-dark">
                          <a  (click)="showSection('scheduleList')">
                            <span>Schedule List</span>
                          </a>
                        </li>
                      </ul>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('activities')">
                        <i class="fas fa-procedures"></i>
                        <span> Hospital Activities</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('prescription')">
                        <i class="fas fa-prescription-bottle-alt"></i>
                        <span>Precription</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('noticeboard')">
                        <i class="fas fa-bullhorn"></i>
                        <span>Notice Board</span>
                    </a>
                </li>
              
                <li class="  py-2">
                    <a (click)="showSection('bedManagement')">
                        <i class="fas fa-bed"></i>
                        <span>Bed Management</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('mail')">
                        <i class="fas fa-envelope"></i>
                        <span> Send Mail</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('report')">
                        <i class="fas fa-file-alt"></i>
                        <span>Report</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('notification')">
                        <i class="fa fa-th-large"></i>
                        <span>Notifications</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('feedback')">
                        <i class="fa fa-th-large"></i>
                        <span>Feedback</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('profile')">
                        <i class="fa fa-th-large"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('setting')">
                        <i class="fas fa-cog"></i>
                        <span>Settings</span>
                    </a>
                </li> -->
                <li class="nav-header">Doctor</li>
                <li class="  py-2">
                    <a (click)="showSection('patientList')">
                        <i class="fas fa-cog"></i>
                        <span>Patient List</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('report')">
                        <i class="fas fa-cog"></i>
                        <span>View Report</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('schedule')">
                        <i class="fas fa-cog"></i>
                        <span>Schedule</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('report')">
                        <i class="fas fa-cog"></i>
                        <span>Generate Report</span>
                    </a>
                </li>
                <li class="nav-header">Lab Techn</li>
                <li class="  py-2">
                    <a (click)="showSection('setting')">
                        <i class="fas fa-cog"></i>
                        <span>Setting</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('profile')">
                        <i class="fas fa-cog"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('report')">
                        <i class="fas fa-cog"></i>
                        <span>Report</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('send-mail')">
                        <i class="fas fa-cog"></i>
                        <span>Send-mail</span>
                    </a>
                </li>
                <li class="nav-header">Patient</li>
                <li class="  py-2">
                    <a (click)="showSection('appointment')">
                        <i class="fas fa-cog"></i>
                        <span>Appointment</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('appointment-history')">
                        <i class="fas fa-cog"></i>
                        <span>Appointment-history</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('report')">
                        <i class="fas fa-cog"></i>
                        <span>Report</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('symptoms')">
                        <i class="fas fa-cog"></i>
                        <span>Symptoms</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('view-history')">
                        <i class="fas fa-cog"></i>
                        <span>View-History</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('prescription')">
                        <i class="fas fa-cog"></i>
                        <span>Prescription</span>
                    </a>
                </li>
                <li class="nav-header">Admin</li>
                <li class="  py-2">
                    <a (click)="showSection('dashboard')">
                        <i class="fas fa-cog"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('doctor')">
                        <i class="fas fa-cog"></i>
                        <span>Doctor</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('department')">
                        <i class="fas fa-cog"></i>
                        <span>Department</span>
                    </a>
                </li>
               
                <li class="  py-2">
                    <a (click)="showSection('Patient')">
                        <i class="fas fa-cog"></i>
                        <span>Patient</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('bed-mgmt')">
                        <i class="fas fa-cog"></i>
                        <span>Bed Management</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('Patient')">
                        <i class="fas fa-cog"></i>
                        <span>Lab</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('add-schedule')">
                        <i class="fas fa-cog"></i>
                        <span> Schedule</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('user-management')">
                        <i class="fas fa-cog"></i>
                        <span>User Management</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('setting')">
                        <i class="fas fa-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('profile')">
                        <i class="fas fa-cog"></i>
                        <span>Profile</span>
                    </a>
                </li>
             
                <li class="  py-2">
                    <a (click)="showSection('payment')">
                        <i class="fas fa-cog"></i>
                        <span>payments</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="showSection('doctor')">
                        <i class="fas fa-cog"></i>
                        <span>doctors</span>
                    </a>
                </li>
                <li class="  py-2">
                    <a (click)="logout()">
                        <i class="fa fa-th-large"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-bg"></div>

    <div id="content" class="content">

        <div>
            <div *ngIf="currentSection=== 'overview'">
                <app-dashboard-overview></app-dashboard-overview>
            </div>
            <div *ngIf="currentSection=== 'doctor'">
                <app-dashboard-doctor></app-dashboard-doctor>
            </div>
            <div *ngIf="currentSection === 'addPatient' ">
                <app-add-patient></app-add-patient>
            </div>
            <div *ngIf="currentSection === 'patientList' ">
                <app-patient-list></app-patient-list>
            </div>
            <div *ngIf="currentSection === 'appointment'">
                <app-dashboard-appointment></app-dashboard-appointment>
            </div>
            <div *ngIf="currentSection === 'addSchedule'">
                <app-add-schedule></app-add-schedule>
            </div>
            <div *ngIf="currentSection === 'scheduleList'">
                <app-schedule-list></app-schedule-list>
            </div>
            <div *ngIf="currentSection === 'report'">
                <app-dashboard-report></app-dashboard-report>
            </div>
            <div *ngIf="currentSection=== 'notification'">
                <app-dashboard-notification></app-dashboard-notification>
            </div>
            <div *ngIf="currentSection=== 'feedback'">
                <app-dashboard-feedback></app-dashboard-feedback>
            </div>
            <div *ngIf="currentSection=== 'profile'">
                <app-profil></app-profil>
            </div>
            <div *ngIf="currentSection=== 'setting'">
                <app-setting></app-setting>
            </div>
            <div *ngIf="currentSection=== 'profile'">
                <app-setting></app-setting>
            </div>
            <div *ngIf="currentSection=== 'user-management'">
                <app-user-management></app-user-management>
            </div>
            <div *ngIf="currentSection=== 'payment'">
                <app-payment></app-payment>
            </div>
            <div *ngIf="currentSection=== 'doctor'">
                <app-doctor></app-doctor>
            </div>
            <div *ngIf="currentSection=== 'dashboard'">
                <app-dashboard></app-dashboard>
            </div>
            <!-- <div *ngIf="currentSection=== 'department'">
                <app-department></app-department>
            </div> -->
            <div *ngIf="currentSection=== 'Patient'">
                <app-patient></app-patient>
            </div>
            <div *ngIf="currentSection=== 'appointment-history'">
                <app-appointment-history></app-appointment-history>
            </div>
            <div *ngIf="currentSection=== 'symptoms'">
                <app-symptoms></app-symptoms>
            </div>
            <div *ngIf="currentSection=== 'view-history'">
                <app-view-history></app-view-history>
            </div>
            <div *ngIf="currentSection=== 'send-mail'">
                <app-send-mail></app-send-mail>
            </div>
            <div *ngIf="currentSection=== 'prescription'">
                <app-prescription></app-prescription>
            </div>
            <div *ngIf="currentSection=== 'add-schedule'">
                <app-add-schedule></app-add-schedule>
            </div>
            <div *ngIf="currentSection=== 'schedule'">
                <app-schedule></app-schedule>
            </div>

<!-- mine -->

<div *ngIf="currentSection=== 'bed-mgmt'">
    <app-bed-management></app-bed-management>
</div>

        </div>
    </div>
</div>