<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title">Patient List</h5>
                <a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><span
                            class="fw-bold ">+</span>Add Patient</button>
                </a>

            </div>


            <div class="card-body">
                <!-- <div class="d-flex justify-content-between mb-2">
                    <span class="fw-bold  text-light fs-3 ">Patient List</span>
                    <div class="card">
                        <a href="addPatient">  <button type="submit" class="btn btn-success"><span class="fw-bold ">+</span>Add Patient</button></a>
                    </div>   
                </div>              -->
                <table class="col-lg-12">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped m-b-0">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Patient Name</th>
                                        <th>Date of Birth</th>
                                        <th>Gender</th>
                                        <th>Mobile No</th>
                                        <th>Address</th>
                                        <th>Medical History</th>
                                        <th>Department</th>
                                        <th>Bed Number</th>
                                        <th>Admitted At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Loop through each patient in the response -->
                                    <tr *ngFor="let patient of patients let i=index">
                                        <td>{{ i+1}}</td>
                                        <td>{{ patient.firstName }} {{ patient.lastName }}</td>
                                        <td>{{ patient.dob | date }}</td>
                                        <td>{{ patient.gender }}</td>
                                        <td>{{ patient.contactNumber }}</td>
                                        <td>{{ patient.address }}</td>
                                        <td>{{ patient.medicalHistory }}</td>
                                        <td>{{ patient.department }}</td>
                                        <td>{{ patient.bedNumber }}</td>
                                        <td>{{ patient.admittedAt }}</td>
                                        <!-- <td>
                                           <a href="#"><i class="fas fa-eye"></i></a> 
                                        </td> -->
                                        <td>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </table>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <form [formGroup]="patientAdd" (ngSubmit)="submit()" action=" " class="row mb-2" >
                    <div class="col-lg-12"> 
                    <input type="text" placeholder="First Name" class="form-control mb-1 mr-2 ">
                    <input type="text" placeholder="Last Name" class="form-control mb-1">
                    <input type="date" placeholder="Date of Birth" class="form-control mb-1">
                    <input type="email" placeholder="Email" class="form-control mb-1">
                    <input type="text" placeholder="Mobile No" class="form-control mb-1">
                    <input type="text" placeholder="Address" class="form-control mb-1">
                    <div class="mb-2 mr-1">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radio_default_inline"
                                id="defaultInlineRadio1" value="" checked />
                            <label class="form-check-label" for="defaultInlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radio_default_inline"
                                id="defaultInlineRadio2" value="" />
                            <label class="form-check-label" for="defaultInlineRadio2">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radio_default_inline"
                                id="defaultInlineRadio2" value="" />
                            <label class="form-check-label" for="defaultInlineRadio2">Other</label>
                        </div>
                    </div>
                    <!-- <div class="mb-1 form-check form-check-inline col-lg-12"placeholder="Blood Group" > -->
                            <select class="form-control mb-1 form-check form-check-inline col-lg-12">
                                <option>A+</option>
                                <option>A-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>O+</option>
                                <option>O-</option>
                                <option>AB+</option>
                                <option>AB-</option>
                            </select>
                        <!-- </div> -->
                </div>
                </form>
            <div class="modal-footer mb-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary ">Add</button>
            </div>
        </div>
        </div>
    </div>
</div>