<div class="container-fluid">
    <div class="col-lg-12 mt-3">
        <div class="card bg-secondary">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                    <span class="fw-bold  text-light fs-3 ">Patient List</span>
                    <div class="card">
                        <a href="addPatient">  <button type="submit" class="btn btn-success"><span class="fw-bold ">+</span>Add Patient</button></a>
                    </div>   
                </div>             
                <table class="col-lg-12">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped m-b-0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Date of Birth</th>
                                        <th>Email Address</th>
                                        <th>Mobile No</th>
                                        <th>Action</th>
                                        <th>Address</th>
                                        <th>Sex</th>
                                        <th>Blood Group</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky </td>
                                        <td>Doe </td>
                                        <td>2024-06-01</td>
                                        <td>nicky"&#64;hotmail.com</td>
                                        <td>98403294384 </td>
                                        <td><a href=""><i class="fas fa-eye"></i></a> </td>
                                        <td>Pokhara </td>
                                        <td>Female </td>
                                        <td>B+ </td>
                                        <td class="with-btn" nowrap>
                                            <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                            <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                    <!-- </div> -->
                </table>
            </div>

        </div>
    </div>
</div>