<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="doctorAddForm" (submit)="submit()" action="" class="card">
        <div class="card-body">
          <div class="row ">
            <div class="col-lg-6 mb-4">
              <input type="text" formControlName="doctorName" id="doctorName" placeholder="Enter Doctor Name"
                class="form-control">
            </div>
            <div class="col-lg-6 mb-4">
              <input type="text" formControlName="specialist" id="doctorName" placeholder="Specialist"
                class="form-control">
            </div>
            <div class="col-lg-6 mb-4">
              <input type="text" formControlName="day" id="doctorName" placeholder="Day " class="form-control">
            </div>
            <div class="col-lg-6 mb-4">
              <input type="time" formControlName="time" id="doctorName" placeholder="Time " class="form-control">
            </div>
            <div class="col-lg-6 mb-4">
              <input type="text " formControlName="username" id="doctorName" placeholder="Username "
                class="form-control">
            </div>
            <div class="col-lg-6 mb-4">
              <input type="email" formControlName="email" id="doctorName" placeholder="Email " class="form-control">
            </div>
            <div class="col-lg-12  mb-4">
              <textarea type="text" formControlName="description" id="doctorName" placeholder="About Doctor "
                class="form-control"></textarea>
            </div>
            <div class="col-lg-6 mb-4">
              <input type="text" formControlName="password" id="doctorName" placeholder="Password "
                class="form-control">
            </div>

            <div class="col-lg-6 mb-4">
              <input type="text" formControlName="confirmPassword" id="doctorName" placeholder="Confirm Passwoord "
                class="form-control">
            </div>
      
          </div>
        <button type="submit" class="form-control bg-dark text-light fw-bold">Create</button>

        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <span class="fw-bold ">List of Doctors</span>
          <table class=" col-lg-12">

            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped m-b-0">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>Username</th>
                      <th>Email Address</th>
                      <th width=""></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="with-img">
                        <span>1</span>
                      <td>Nicky Almera</td>
                      <td>nicky"&#64;hotmail.com</td>
                      <td class="with-btn" nowrap>
                        <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                        <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                      </td>
                    </tr>

                    <tr>
                      <td class="with-img">
                        <span>2</span>
                      </td>
                      <td>Harvinder Singh</td>
                      <td>harvinde"&#64;gmail.com</td>
                      <td class="with-btn" nowrap>
                        <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                        <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="with-img">
                        <span>2</span>
                      </td>
                      <td>Harvinder Singh</td>
                      <td>harvinde"&#64;gmail.com</td>
                      <td class="with-btn" nowrap>
                        <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                        <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="with-img">
                        <span>2</span>
                      </td>
                      <td>Harvinder Singh</td>
                      <td>harvinde"&#64;gmail.com</td>
                      <td class="with-btn" nowrap>
                        <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                        <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="with-img">
                        <span>2</span>
                      </td>
                      <td>Harvinder Singh</td>
                      <td>harvinde"&#64;gmail.com</td>
                      <td class="with-btn" nowrap>
                        <a href="#" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                        <a href="#" class="btn btn-sm btn-white width-60">Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- end table-responsive -->
            </div>
            <!-- </div> -->
          </table>
        </div>

      </div>
    </div>
  </div>
</div>