<app-navbar></app-navbar>
<section class="hero-section text-center text-white">
    <div class=" welcome  w-fit">
      <h1 class="display-6  text-dark p-3">Contact Us</h1>
      <p class="lead fw-bold text-dark">We'd love to hear from you! Reach out to us using the information below.</p>

    </div>
  </section>
<!-- contact.component.html -->
<div class="container my-5">
 
    <div class="row justify-content-center mt-5 ">
      <div class="col-md-4 mb-4 text-center">
        <div class="contact-item">
          <i class="fas fa-map-marker-alt fa-3x mb-3"></i>
          <h5 class="mb-2 display-6">Our Location</h5>
          <p>Bijyapur, Pokhara, Nepal</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <div class="contact-item">
          <i class="fas fa-phone fa-3x mb-3"></i>
          <h5 class="mb-2 display-6">Phone Number</h5>
          <p>To Contact reception:
           061345698</p>
           <p> Contact Emergency:
          061234534 To</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <div class="contact-item">
          <i class="fas fa-envelope fa-3x mb-3"></i>
          <h5 class="mb-2 display-6">Email</h5>
          <p>For any queries and for information: aaspatal&#64;hospital.com
          </p><p>   For more queries, Please fill the form below. Our team will get back to you shortly. </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-8">
        <h2 class="mb-4 text-center">Our Services</h2>
        <ul class="list-group">
          <li class="list-group-item">Emergency Services</li>
          <li class="list-group-item">Outpatient Services</li>
          <li class="list-group-item">Inpatient Services</li>
          <li class="list-group-item">Surgery</li>
          <li class="list-group-item">Maternity Services</li>
        </ul>
      </div>
    </div>
  </div>
<app-footer></app-footer>
  