<div class="container mt-5">
  <h2 class="mb-4">Payments</h2>
  <div class="table-responsive">
    <div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': isModalVisible}" [ngStyle]="{'display': isModalVisible ? 'block' : 'none'}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Appointment Details</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><strong>Appointment ID:</strong> {{ selectedAppointment?._id }}</p>
            <p><strong>Email:</strong> {{ selectedAppointment?.email }}</p>
            <p><strong>Department:</strong> {{ selectedAppointment?.departmentName }}</p>
            <p><strong>Doctor Name:</strong> {{ selectedAppointment?.doctorname }}</p>
            <p><strong>Date:</strong> {{ selectedAppointment?.date | date: 'yyyy-MM-dd' }}</p>
            <p><strong>Time:</strong> {{ selectedAppointment?.time }}</p>
            <p><strong>Phone:</strong> {{ selectedAppointment?.phone }}</p>
            <p><strong>Problem:</strong> {{ selectedAppointment?.problem }}</p>
            <p><strong>Status:</strong> {{ selectedAppointment?.isPaid ? 'Completed' : 'Pending' }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Payment ID</th>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of paidAppointments">
          <td>{{ payment._id }}</td>
          <td>{{ payment.date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ payment.amount | currency }}</td>
          <td>{{ payment.isPaid ? 'Completed' : 'Pending' }}</td>
          <td>{{ payment.paymentMethod }}Khalti</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="viewAppointment(payment)">View</button>
            <button class="btn btn-danger btn-sm" (click)="deletePayment(payment._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
