
<div class="container-fluid feature mx-auto">
    <h2 class="text-center py-5 display-4 ">Our Features</h2>
    <div class="row mx-auto">
      <!-- <div class="col-lg-4 col-md-6 mb-4" *ngFor="let feature of features">
        <div class="card h-100 text-center p-3 mx-auto">
          <div class="card-body">
            <i [class]="feature.icon + ' fa-3x mb-3'"></i>
            <h5 class="card-title display-6">{{ feature.title }}</h5>
            <p class="card-text">{{ feature.description }}</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>