<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <img src="../../../assets/logo.png" alt="" style="width: 50px; height: 50px; border-radius: 50%; padding-right: 5px;">
  <a class="navbar-brand px-3" href="#">Aaspatal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <!-- Uncomment if needed
      <li class="nav-item">
        <a class="nav-link" href="about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="services">Services</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="contact-us">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="doctor">Doctor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="register">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="dashboard">
          <mat-icon>person</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
