
<div class="container mt-4" >
  <div class="row p-4" style="background-color: rgb(240, 240, 240); border-radius: 6px;">
    <div class="col-lg-12">
      <div class="card mb-4 fit-content">
        <div class="card-body text-center">
          <img *ngIf="userProfile?.image" [src]="userProfile.image" alt="avatar" class="rounded-circle img-fluid border border-2 border-primary" style="width: 150px; height: 150px; object-fit: cover;">
          <div class="d-flex  object-fit ">
            <!-- Logo on the left -->
            <div>
                <img src="../../../../assets/logo2.png" alt="Hospital Logo" class="img-fluid circular-image">
            </div>
        
            <!-- Doctor's image and name in the middle -->
            <div class="justify-content-center align-items-center pb-2">
                <img src="../../../assets/doctor4.png" alt="Doctor Image" class="img-fluid circular-image me-2">
                <h5 class="fw-bold mb-0">{{ userProfile?.firstName }} {{ userProfile?.lastName }}</h5>
            </div>
        </div>
        
        
          <p class="mb-1 text-primary fw-medium">{{ userProfile?.specialist }}</p>
          <p class="text-muted mb-4 fw-medium">{{ userProfile?.department }}</p>
          <!-- <div class="d-grid gap-2">
            <button type="button" class="btn btn-success btn-lg mb-2">Feedback</button>
            <button type="button" class="btn btn-outline-primary btn-lg">Message</button>
          </div> -->
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title mb-4 fw-bold">Contact Details</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Email</span>
              <span class="text-muted">{{ userProfile?.email }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Role</span>
              <span class="text-muted">{{ userProfile?.role }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Mobile</span>
              <span class="text-muted">{{ userProfile?.phoneNo }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Address</span>
              <span class="text-muted">{{ userProfile?.address }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Gender</span>
              <span class="text-muted">{{ userProfile?.sex }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Blood Group</span>
              <span class="text-muted">{{ userProfile?.bloodGroup }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8" >
      <div class="card mb-4" *ngIf="userRole==='doctor'">
        <div class="card-body">
          <h5 class="card-title mb-4 fw-bold">Biography</h5>
          <p class="card-text">{{ userProfile?.biography }}</p>
        </div>
      </div>
      <div class="card mb-4" *ngIf="userRole === 'doctor'">
        <div class="card-body">
          <h5 class="card-title mb-4 fw-bold">Career Details</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Career Title</span>
              <span class="text-muted">{{ userProfile?.careerTitle }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Specialist</span>
              <span class="text-muted">{{ userProfile?.specialist }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Department</span>
              <span class="text-muted">{{ userProfile?.department }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Status</span>
              <span class="text-muted">{{ userProfile?.status }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="fw-bold">Time</span>
              <span class="text-muted">{{ userProfile?.time }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
