<div class="container-fluid mt-5">
    <h2 class="mb-4">Appointment History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Appointment ID</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Doctor Name</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of medicalHistory, let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.username}}</td>
                <td>{{item.doctorName}}</td>
                <td>{{item.status}}</td>
            </tr>
        </tbody>
    </table>
</div>