<div class="row">
    <div class="card-head ">
        <h4 class=" fw-bold fs-3 mb-3 ">Add Schedule</h4>
        <!-- <div class="panel-heading-btn">
        </div> -->
    </div>
    <div class="col-xl-12">
        <div class=" card p-2" data-sortable-id="form-stuff-1">
           
            <div class=" card-body">
                <form>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Available Days</label>
                        <div class="col-md-9">
                            <select class="form-control" name="available" placeholder="Select Option">
                                <option>Sunday</option>
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Start and End Time <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col d-flex justify-content-between">
                            <input type="time" class="form-control m-b-5 col-lg-4 " placeholder="Start Time" />
                            <input type="time" class="form-control m-b-5 col-lg-4" placeholder="End Time" />
                        </div>
                    </div>
                    
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Mobile No <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control m-b-5" placeholder="Mobile No" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Password <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control m-b-5" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Blood Group</label>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>A+</option>
                                <option>A-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>O+</option>
                                <option>O-</option>
                                <option>AB+</option>
                                <option>AB-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row m-b-10 align-items-center ">
                        <label class="col-md-3 col-form-label fw-bold">Sex <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radio_default_inline"
                                    id="defaultInlineRadio1" value="" checked />
                                <label class="form-check-label" for="defaultInlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radio_default_inline"
                                    id="defaultInlineRadio2" value="" />
                                <label class="form-check-label" for="defaultInlineRadio2">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radio_default_inline"
                                    id="defaultInlineRadio2" value="" />
                                <label class="form-check-label" for="defaultInlineRadio2">Other</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3 fw-bold">Date of Birth <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="col-md-9">
                            <input type="date" class="form-control m-b-5" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group row m-b-15 justify-content-center">
                       <button type="submit" class="btn btn-success mr-2 col-auto btn ">Submit</button>
                       <button type="reset" class="btn btn-primary  col-auto">Reset</button>
                    </div>
                </form>
            </div>

        </div>