<div class="container-fluid mt-5">
  <div *ngIf="userRole === 'doctor'" class="row">
    <div class="col-lg-12">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-header">
            Create Doctor Note
          </div>
          <div class="card-body">
            <form [formGroup]="noteForm" (ngSubmit)="submit()">
              <div class="form-group">
                <label for="patient">Patient:</label>
                <input type="text" formControlName="patient" class="form-control" id="patient"
                  placeholder="Enter patient name" required>
              </div>
              <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" formControlName="date" class="form-control" id="date" required>
              </div>
              <div class="form-group">
                <label for="content">Content:</label>
                <textarea formControlName="content" class="form-control" id="content" rows="5"
                  placeholder="Enter doctor's note content" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div *ngIf="userRole === 'doctor'" class="col">
      <h2>Doctor</h2>
      <div class="container-fulid">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <div class="col-lg-12">
                <div class="panel panel-inverse" data-sortable-id="table-basic-4">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th nowrap>Patient</th>
                            <th>Date</th>
                            <th nowrap>Content</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of noteTable; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.patient}}</td>
                            <td>{{item.date}}</td>
                            <td>{{item.content}}</td>

                            <td>
                              <div class="d-flex flex-wrap button-group">
                                <button class="btn btn-warning btn-sm" (click)="edit()">Edit</button>
                                <button class="btn btn-outline-danger btn-sm ml-4" (click)="delete()">Delete</button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="userRole === 'patient'" class="row mt-4">
      <h2>Note</h2>
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12">
              <div class="panel panel-inverse" data-sortable-id="table-basic-4">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th nowrap>Patient</th>
                          <th>Date</th>
                          <th nowrap>Content</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of noteTable; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{item.patient}}</td>
                          <td>{{item.date}}</td>
                          <td>{{item.content}}</td>

                          <td>
                            <div class="d-flex flex-wrap button-group">
                              <button class="btn btn-warning btn-sm" (click)="edit()">Edit</button>
                              <button class="btn btn-outline-danger btn-sm ml-4" (click)="delete()">Delete</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="userRole === 'admin'" class="row mt-4">
      <h2>Note</h2>
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12">
              <div class="panel panel-inverse" data-sortable-id="table-basic-4">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th nowrap>Patient</th>
                          <th>Date</th>
                          <th nowrap>Content</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of noteTable; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{item.patient}}</td>
                          <td>{{item.date}}</td>
                          <td>{{item.content}}</td>

                          <td>
                            <div class="d-flex flex-wrap button-group">
                              <button class="btn btn-warning btn-sm" (click)="edit()">Edit</button>
                              <button class="btn btn-outline-danger btn-sm ml-4" (click)="delete()">Delete</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="userRole === 'doctor'" class="col">
      <h2>Doctor</h2>
      <div class="container-fulid">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <div class="col-lg-12">
                <div class="panel panel-inverse" data-sortable-id="table-basic-4">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th nowrap>Patient</th>
                            <th>Date</th>
                            <th nowrap>Content</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of noteTable; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{i+1}}</td>
                            <td>{{item.patient}}</td>
                            <td>{{item.date}}</td>
                            <td>{{item.content}}</td>

                            <td>
                              <div class="d-flex flex-wrap button-group">
                                <button class="btn btn-warning btn-sm" (click)="edit()">Edit</button>
                                <button class="btn btn-outline-danger btn-sm ml-4" (click)="delete()">Delete</button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="userRole === 'patient'" class="row mt-4">
      <h2>Note</h2>
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12">
              <div class="panel panel-inverse" data-sortable-id="table-basic-4">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th nowrap>Patient</th>
                          <th>Date</th>
                          <th nowrap>Content</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of doctorNoteDoctorTable; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{item.patient}}</td>
                          <td>{{item.date}}</td>
                          <td>{{item.content}}</td>

                          <td>
                            <div class="d-flex flex-wrap button-group">
                              <button class="btn btn-warning btn-sm" (click)="edit()">Edit</button>
                              <button class="btn btn-outline-danger btn-sm ml-4" (click)="delete()">Delete</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>