<app-navbar></app-navbar>
<style>
    .image-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: rgba(108, 104, 104, 0.5);
        /* Adjust opacity here */
        color: rgb(251, 249, 249);
        padding: 20px;
    }

    .image-overlay h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .image-overlay p {
        font-size: 16px;
        margin-bottom: 0;
    }
</style>
    <div class="image-container w-100">
        <img src="../../assets/homepage.jpg" alt="Background Image" class="img-fluid w-100 h-50">
        <div class="image-overlay">
            <div class="d-flex flex-column">
<span>Aapatal | Caring For Life</span>
<span>"Your Health, Our Priority: Building a Better Tomorrow."</span>
            </div>
            <h2>Title Here</h2>
            <p>Description of the image</p>
        </div>
    </div>
<app-footer></app-footer>