<div id="page-container" class="page-sidebar-fixed page-header-fixed">
        <!-- begin sidebar scrollbar -->
        <div id="sidebar" class="sidebar" style="height: 100vh; overflow-y: auto;">
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <a href="javascript:;" data-toggle="nav-profile">
                            <div class="cover with-shadow"></div>
                            <div class="image">
                                <img src="../../../assets/hospitals.jpg" alt="" />
                            </div>
                            <div class="info">
                                <b class="caret pull-right"></b>Aspatal
                                <small>The Hospital Management</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <ul class="nav nav-profile">
                            <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
                            <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <!-- <li class="nav-header">Navigation</li> -->
                    <li class="active cursor">
                        
                            <i class="fa fa-th-large"></i>
                            <span>Admin</span>
                      
                    </li>
                    <li class="active cursor">
                        <a (click)="showSection('overview')">
                            <i class="fa fa-th-large"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class=" active cursor">
                        <a (click)="showSection('dashboardDoctor')">
                            <i class="fa fa-th-large"></i>
                            <span>Doctor</span>
                        </a>
                    </li>
                    <li class=" active cursor">
                        <a (click)="showSection('dashAppointment')">
                            <i class="fa fa-th-large"></i>
                            <span>Arrange Appoinment</span>
                        </a>
                    </li>
                    <li class=" active cursor">
                        <a (click)="showSection('dashReport')">
                            <i class="fa fa-th-large"></i>
                            <span>Report</span>
                        </a>
                    </li>
                    <li class=" active cursor">
                        <a (click)="showSection('dashNotification')">
                            <i class="fa fa-th-large"></i>
                            <span>Notifications</span>
                        </a>
                    </li>
                    <li class=" active cursor">
                        <a (click)="showSection('dashFeedback')">
                            <i class="fa fa-th-large"></i>
                            <span>Feedback</span>
                        </a>
                    </li>
                    <li class=" active cursor">
                        <a (click)="showSection('profile')">
                            <i class="fa fa-th-large"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li class=" active cursor">
                        <a (click)="showSection('setting')">
                            <i class="fa fa-th-large"></i>
                            <span>Setting</span>
                        </a>
                    </li>
                    <li class=" active cursor">
                        <a (click)="logout()">
                            <i class="fa fa-th-large"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                    <!-- begin sidebar minify button -->
                    <!-- <li><a href=" " class="sidebar-minify-btn" data-click="sidebar-minify"><i
                        class="fa fa-angle-double-left"></i></a></li> -->
                    <!-- end sidebar minify button -->
                </ul>

                <!-- end sidebar nav -->
            </div>

            <!-- end sidebar scrollbar -->




        </div>
        <div class="sidebar-bg"></div>

        <div id="content" class="content">

            <div>
                <div *ngIf="currentSection=== 'overview'">
                    <app-dashboard-overview></app-dashboard-overview>
                </div>
                <div *ngIf="currentSection=== 'dashboardDoctor'">
                    <app-dashboard-doctor></app-dashboard-doctor>
                </div>
                <div *ngIf="currentSection === 'dashAppointment'">
                    <app-dashboard-appointment></app-dashboard-appointment>
                </div>
                <div *ngIf="currentSection === 'dashReport'">
                    <app-dashboard-report></app-dashboard-report>
                </div>
                <div *ngIf="currentSection=== 'dashNotification'">
                    <app-dashboard-notification></app-dashboard-notification>
                </div>
                <div *ngIf="currentSection=== 'dashFeedback'">
                    <app-dashboard-feedback></app-dashboard-feedback>
                </div>
                <div *ngIf="currentSection=== 'profile'">
                    <app-profil></app-profil>
                </div>
                <div *ngIf="currentSection=== 'setting'">
                    <app-setting></app-setting>
                </div>
                <div *ngIf="currentSection=== 'profile'">
                    <app-setting></app-setting>
                </div>
            </div>
        </div>
</div>